.headshot {
	width:75%;
	display: inline-block;
}

.mini-headshot{
	width:100%;
	margin-top: 40px;
}

.banner h1,h3,h5,h6 {
	font-family:  Futura, sans-serif;
	margin: 0px;
	font-weight: 600;
}

a:link{
	color:black;
}

.banner a:hover{
	text-decoration: none;
}

.menu {
	font-family: helvetica, sans-serif;
	font-size: 15px;
	list-style: none;
	margin-top: 25px;
}

.menu a:link{
	text-decoration: none;
}

.menu a:hover {
	text-decoration: underline;
}

.recent h3 {
	margin-top:50px;
}

.recent ul {
	padding: 0px;
	margin-top: 8px;
}

.recent li {
	list-style: none;
	font-family: helvetica, sans-serif;
	margin-top: 4px;
	margin-bottom: 10px;
}

.recent span {
	font-size: 13px; 
}

.col-25 {
	float: left;
	width: 20%;
	padding: 2.5%;
	display: inline-block;
	margin-top: 30px;
}

.download {
	font-family: futura, helvetica, sans-serif;
	margin-top: 35px;
}

.download a:link{
	color:black;
	text-decoration: none;
}

.foot {
    margin-top: 80px;
    margin-left: 15px;
}

#contact-foot {
	margin-top: 145px;
}

.resume {
	width: 85%;
}

.col-75 {
	width:70%;
	padding:2.5%;
	display:inline-block;
}

.col-75 p{
	font-family: Courier, serif;
	margin-top:50px;
}

.contact h2, h4 {
	font-family: helvetica, sans-serif;
	margin: 0px;
}

.contact h4 {
	margin-top: 8px;
}

.gallery {
	margin: 5px;
	float: left;
	width: auto;
}

.title h4 {
	font-family: Futura, sans-serif;
	margin-top: 40px;
	margin-bottom: 10px;
	display: inline-block;
}

.clear:after{
	content:"";
	clear: both;
	display: block;
}

.contact a:link{
	color:black;
}

a:visited{
	color:black;
}

.contact {
	margin-top: 30px;
}

.contact h2{
	font-family: Futura, Helvetica, sans-serif;
}

.contact a:link{
	color:black;
}

.title .credit {
	font-family: Helvetica, sans-serif;
	font-size: 9px;
	display: inline-block;
	padding-left: 7px;
}

.title .credit a {
	font-size: 9px;
}

.title .credit a:link {
	color: black;
}

a:hover {
	text-decoration: none;
}

.press p {
	padding: 0 20px;
}

form h3 {
	margin-top: 25px;
}

form .inbox {
	border: 2px solid black;
	width: 50%;
	height: 20px;
}

#messagearea {
	height: 200px;
}

.button {
	display: block;
	border: none;
	background: white;
	font-family: futura, helvetica, sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin-top: 15px;
}

.button:hover{
	text-decoration: underline;
}

.agentbox {
	margin-top: 50px;
}

.active-link {
	font-weight: bold;
}

@media screen and (max-width: 800px) {
	.col {
		width: 100%;
		display: block;
		padding: 0px;
		margin-bottom: 40px;
	}

	.mini-headshot {
		display: none;
	}

	.headshot {
		width: 90%;
	}

	.resume {
		width: 95%;
	}
	nav .menu li {
		margin-right: -4px;
		display: inline-block;
	}
	
	nav a {
		padding-right: 12px;
	}
	

	nav span {
		display: inline;
		position: relative;
		left: 5px;
	}

	.download {
		font-family: helvetica, sans-serif;
		margin-top: 0px;
	}

	form .inbox {
		width: 95%;
	}



}